<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>smartfit api</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/pricing.css') }}" rel="stylesheet">
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Smart Fit Team @ Insight Data Science</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark"
           href="https://docs.google.com/presentation/d/e/2PACX-1vQYEp3DV0C_Um-hAQKZblZPdgOQ5hKeSCJ6FrOjkUzCiRnyB_Nv-J3J5qjL73Oa2dVvtdFEVZmIwSxQ/pub?start=false&loop=false&delayms=3000">Recommender
            Service</a>
        <a class="p-2 text-dark" href="https://docs.google.com/presentation/d/146ZfU9597FB8AG4J9jFxlkXjaEJga5XEbI_EbsG0Jxw/present#slide=id.gc6f80d1ff_0_0">Virtual
            Try-On</a>
    </nav>
    <a class="btn btn-outline-primary" href="#foot">Contact</a>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Smart Fit</h1>
    <p class="lead">A Virtual Fitting Room Service for E-commerce</p>
</div>

<div class="container">
    <div class="card-deck mb-10 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">User Image</h4>
            </div>
            <div class="card-body">
                <img src="{{url_for('static', filename = imgfile.person)}}" , height="400">
                <br><br><br>
                <div class="lg-col-12" align='center' style='text-align:center'>
                    <table class="card-body">
                        <tr>
                            <td>
                                <a href="{{ url_for('change_model', fashion=imgfile.fashion, person=imgfile.person) }}"
                                   class="btn btn-lg btn-block btn-outline-secondary">
                                    Change Model</a>
                            </td>
                            <td>
                                <a href="{{ url_for('smart_mirror', fashion=imgfile.fashion, person=imgfile.person) }}"
                                   class="btn btn-lg btn-block btn-outline-primary">
                                    Fitting Room</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Current Fashion</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <img src="{{url_for('static', filename = imgfile.fashion)}}" , height="200">
                        <br><br>
                        <!--<input type="file" name="img_file_path">-->
                        <!--<input type="submit" value="Upload">-->
                    </form>
                </div>
                <br><br><br>
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Or Try These Examples</h4>
                </div>
                <div class="row align-content-lg-center">
                    <table class="card-body">
                        <tbody>
                        <tr>

                            <td>
                                <a href="{{ url_for('smart_mirror', fashion='z_img/womenless/016498_1.jpg', person=imgfile.person) }}">
                                    <img src=" {{url_for('static', filename = 'z_img/womenless/016498_1.jpg')}}" ,
                                         height="100">
                                </a></td>

                            <td>
                                <a href="{{ url_for('smart_mirror', fashion='z_img/womenless/015008_1.jpg', person=imgfile.person) }}">
                                    <img src="{{url_for('static', filename = 'z_img/womenless/015008_1.jpg')}}" ,
                                         height="100">
                                </a></td>
                            <td>
                                <a href="{{ url_for('smart_mirror', fashion='z_img/womenless/014367_1.jpg', person=imgfile.person) }}">
                                    <img src=" {{url_for('static', filename = 'z_img/womenless/014367_1.jpg')}}" ,
                                         height="100">
                                </a></td>

                        </tr>
                        <tr>
                            <td>
                                <a href="{{ url_for('smart_mirror', fashion='z_img/womenless/000045_1.jpg', person=imgfile.person) }}">
                                    <img src="{{url_for('static', filename = 'z_img/womenless/000045_1.jpg')}}" ,
                                         height="100">
                                </a></td>
                            <td>
                                <a href="{{ url_for('smart_mirror', fashion='z_img/womenless/000391_1.jpg', person=imgfile.person) }}">
                                    <img src=" {{url_for('static', filename = 'z_img/womenless/000391_1.jpg')}}" ,
                                         height="100">
                                </a></td>
                            <td>
                                <a href="{{ url_for('smart_mirror', fashion='z_img/womenless/000442_1.jpg', person=imgfile.person) }}">
                                    <img src="{{url_for('static', filename = 'z_img/womenless/000442_1.jpg')}}" ,
                                         height="100">
                                </a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top" id="foot">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24"
                     height="24">
                <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
            </div>
            <div class="col-6 col-md">
                <h5>PM Fellow</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="http://www.linkedin.com/in/stevexiecbs/">Steve Xie</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>AI Fellow</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="http://www.linkedin.com/in/rohan-bhandari/">Rohan Bhandari</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>DS Fellow</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="http://www.linkedin.com/in/dawnis-chow">Dawnis Chow</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
</body>
</html>
